<div id="widgetForm" class="modal fade" tabindex="-1" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-responsive">
        <div class="modal-conten p-0 b-0t">
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Widget</h3> 
                </div> 
                <div class="panel-body p-20">
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label class="control-label">Choose your widget:</label>
                                <select class="selectpicker" data-style="btn-white">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Size</label>
                                <select class="selectpicker" data-style="btn-white">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-sm btn-success">Save</button>
                    <button class="btn btn-sm btn-inverse btnModalClose" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>