<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <style type="text/css">
        .nice {
            font-size: 10pt;
            font-family: Monospace;
            white-space: pre;
        }

    </style>
</head>
<body>
    <pre id="taag_output_text" style="float:left;" class="nice" contenteditable="true">                                                                                                  
               ,-.----.                      ,---.-,                                              
   ,---,       \    /  \     ,---,          '   ,'  '.     ,----..       ,----..       ,----..    
  '  .' \      |   :    \ ,`--.' |         /   /      \   /   /   \     /   /   \     /   /   \   
 /  ;    '.    |   |  .\ :|   :  :        .   ;  ,/.  :  /   .     :   /   .     :   /   .     :  
:  :       \   .   :  |: |:   |  '        '   |  | :  ; .   /   ;.  \ .   /   ;.  \ .   /   ;.  \ 
:  |   /\   \  |   |   \ :|   :  |        '   |  ./   :.   ;   /  ` ;.   ;   /  ` ;.   ;   /  ` ; 
|  :  ' ;.   : |   : .   /'   '  ;        |   :       ,;   |  ; \ ; |;   |  ; \ ; |;   |  ; \ ; | 
|  |  ;/  \   \;   | |`-' |   |  |         \   \      ||   :  | ; | '|   :  | ; | '|   :  | ; | ' 
'  :  | \  \ ,'|   | ;    '   :  ;          `---`---  ;.   |  ' ' ' :.   |  ' ' ' :.   |  ' ' ' : 
|  |  '  '--'  :   ' |    |   |  '             |   |  |'   ;  \; /  |'   ;  \; /  |'   ;  \; /  | 
|  :  :        :   : :    '   :  |             '   :  ; \   \  ',  /  \   \  ',  /  \   \  ',  /  
|  | ,'        |   | :    ;   |.'              |   |  '  ;   :    /    ;   :    /    ;   :    /   
`--''          `---'.|    '---'                ;   |.'    \   \ .'      \   \ .'      \   \ .'    
                 `---`                         '---'       `---`         `---`         `---`      
                                                                                                  </pre>
</body>
</html>