{{ form_start(socialForm) }}
{{ form_widget(socialForm.socials) }}
<div class="row">
    <div class="col-md-12">
        {{ form_widget(socialForm.save) }}
    </div>
</div>
{{ form_end(socialForm) }}