{{ form_start(contactForm) }}
{{ form_widget(contactForm.contacts) }}
<div class="row">
    <div class="col-md-12">
        {{ form_widget(contactForm.save) }}
    </div>
</div>
{{ form_end(contactForm) }}