{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ 'page.title.dashboard'|trans({},'AppBundle') }}{% endblock %}

{% block bodyClass %}{% endblock %}

{% block body %}
    <div class="account-pages"></div>
    <div class="clearfix"></div>

    <!-- HOME -->
    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="icon-main text-custom"><i class="md md-album"></i></h1>
                        <h1 class="home-text text-uppercase"><span class="text-primary">Site is</span> <span class="text-pink">Under</span> <span class="text-info">Maintenance</span></h1>
                        <h4 class="text-muted">We're making the system more awesome.we'll be back shortly.</h4>
                    </div>
                </div>
            </div>
        </div>
      </section>
{% endblock %}