<div id="customerPaymentOptionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    {% include "CustomerBundle:Form:customerPaymentOption-form.html.twig" %}
</div>