<div id="widgetForm" class="modal fade" tabindex="-1" style="display: none;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-responsive">
        <div class="modal-conten p-0 b-0t">
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Widget</h3>
                </div>
                <div class="panel-body p-20">
                    <div class="row">
                        <div class='col-md-12'>
                            <div class='form-group'>
                                <label>Widget</label>
                                <select class='form-control selectpicker' id='widgetName'  data-style="btn-white" title="Select Widget">
                                    {% for name,widget in widgets -%}
                                        <option value='{{ name }}'>{{ widget.details.title }}</option>
                                    {%- endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='row' id='widgetFormContainer'>

                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-sm btn-success" id='btnWidgetAdd'>Add</button>
                    <button class="btn btn-sm btn-inverse btnModalClose" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>