<div class="paymentOptions">
    <div class="">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="actions text-right">
                <button id="btn-add-payment" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#customerPaymentOptionModal"> <span> <i class="ti-plus"></i> </span>
                    Add Payments
                </button>
            </div>
            <div class="list">
                <div class='payment-list'></div>
            </div>
        </div>
    </div>

    {% include "CustomerBundle:Modal:paymentOption.html.twig" with {'form': paymentForm} %}
</div>

