*
!app
app/config/parameters.yml
app/bootstrap.php.cache
app/spool/*
!app/spool/default/.gitkeep
!src/*
src/*/Resources/views
src/*/Resources/public
src/*/Resources/translations
!var/emails
!var/referralTools
!var/session/.gitkeep
!var/cache/.gitkeep
!var/logs/blockchain/.gitkeep
!var/logs/iovation/.gitkeep
!var/logs/jumio/.gitkeep
!var/payum/gateways/.gitkeep
!var/payum/payments/.gitkeep
!composer.*
!themes/*
!web/*
web/assets
web/css
web/js
web/bundles
!opt