vendor
app/config/parameters.yml
.git
var/cache/*
var/logs/*
var/session/*
var/payum/gateways/*
var/payum/payments/*
!var/session/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/payum/gateways/.gitkeep
!var/payum/payments/.gitkeep
web/assets
web/css/
web/js/
web/bundles/
src/*/Resources/views
src/*/Resources/public
src/*/Resources/translations
build/*
!build/ruleset.xml
app/bootstrap.php.cache
tests/_output