/web/js/
/src/*/Resources/views
/src/*/Resources/public
/src/*/Resources/translations
/web/assets
/web/css/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/*
!build/ruleset.xml
/vendor/
/bin/
/composer.phar
/nbproject/private/
nbproject/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!var/emails
!var/referralTools
!/var/payum
/var/payum/*
!/var/payum/gateways
/var/payum/gateways/*
!var/payum/gateways/.gitkeep
!/var/payum/payments
/var/payum/payments/*
!var/payum/payments/.gitkeep
.web-server-pid
/app/spool/default/*
!/app/spool/default/.gitkeep
.idea
web/codeception
nohup.out
.vscode/
docs/vendor
themes/docs/*
docs/*
.env
sftp-config.json
tests/_output
/.docker/manifest/home/www/.composer/*
!/.docker/manifest/home/www/.composer/.gitkeep