<div id="media-library" class="media-modal modal fade" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-0 b-0">
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading">
                    <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button> 
                    <h3 class="panel-title">Media Library</h3> 
                </div>
                <input class="media-search" type="text" placeholder="Search file..." />
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 media-list">

                        </div>
                        <div class="col-md-4 media-info">
                            <div class="media-file-none">
                                <i class="fa fa-file"></i>
                                <p>Nothing was selected</p>
                            </div>
                            <div class="media-file-selected hide">
                                <div class="media-selected-thumb">
                                    <div><img src="" /></div>
                                </div>
                                <table class="media-details">
                                    <tr>
                                        <th class="media-details-label text-muted" colspan="2">TITLE</th>
                                    </tr>
                                    <tr>
                                        <td class="media-detail-title" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="media-details-label text-muted">SIZE</th>
                                        <td class="media-detail-size"></td>
                                    </tr>
                                    <tr>
                                        <th class="media-details-label text-muted">URL</th>
                                        <td class="media-detail-url">
                                            <a href="" target='_blank'>Click Here</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="media-details-label text-muted">LAST MODIFIED</th>
                                        <td class="media-detail-modified"></td>
                                    </tr>
                                </table>
                                <div class='media-library-select'>
                                    <button class='btn btn-success media-library-select-btn' type='button'>Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>