# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   "${DATABASE_DRIVER}"
    database_replica_host: ${DATABASE_REPLICA_HOST}
    database_host:     "${DATABASE_HOST}"
    database_port:     "${DATABASE_PORT}"
    database_name:     "${DATABASE_NAME}"
    database_user:     "${DATABASE_USER}"
    database_password: "${DATABASE_PASSWORD}"
    mailer_transport:  "${MAIL_TRANSPORT}"
    mailer_host:       "${MAIL_HOST}"
    mailer_user:       ${MAIL_USER}
    mailer_port:       ${MAIL_PORT}
    mailer_password:   ${MAIL_PASSWORD}
    mailer_email_from: "${MAIL_FROM}"
    mailer_email_cc:   "${MAIL_CC}"
    mailer_email_affiliate_from: "${MAIL_AFFILIATE_FROM}"
    mailer_encryption: ${MAIL_ENCRYPTION}
    # A secret key that's used to generate certain security-related tokens
    secret:            "${APP_SECRET}"

    app_locales: en|ko
    upload_folder: "${UPLOAD_FOLDER}"
    customer_folder: "${CUSTOMER_FOLDER}"
    php_command: php

    #session expiration time
    session.expiration_time: ${SESSION_EXPIRATION_TIME}
    access_token_expires_in: ${ACCESS_TOKEN_EXPIRES_IN}

    theme: euro
    upload_dwl_filename: upload_dwl.log

    jwt_key: ${JWT_KEY}
    mservice.username: ${MSERVICE_USERNAME}
    mservice.password: ${MSERVICE_PASSWORD}

    data_transfer.xml: AppBundle:DataTransfer:default.html.twig

    websocket.url: '${WS_URL}'
    websocket.realm: '${WS_REALM}'
    websocket.wamp: '${WS_WAMP_URL}'

    # activation
    activation.expiration_duration: '+1 week'

    # email spooling command
    email_spool_command: '%php_command% %kernel.project_dir%/app/console swiftmailer:spool:send --env=%kernel.environment% >> %kernel.project_dir%/var/logs/email.log 2>&1 &'

    asianconnect_url: '${AC_URL}'
    asianconnect09_domain: '${AC_DOMAIN}'
    asianodds_domain: '${AO_DOMAIN}'

    customer_temp_password: '${CUSTOMER_TEMP_PASSWORD}'

    # reset password
    reset_password.expiration_duration: '+1 week'

    # Payum
    payum.gateways.ecopayz.testMode: ${ECOPAYZ_TEST_MODE}

    # slack
    # Get Bot User OAuth Access Token from https://api.slack.com/apps/A7UQVNDAM/oauth?#api_main_content
    slack.token: ${SLACK_TOKEN}
    slack.channel: "${SLACK_CHANNEL}"

    # trusted proxies
    trusted_proxies: [${TRUSTED_PROXIES}]
    cron_user: system

    blockchain.callback_host: "${BC_CALLBACK_HOST}"
    blockchain.api_key: "${BC_KEY}"
    blockchain.wallet_url: "${BC_WALLET_URL}"
    blockchain.xpub_scanner.host: "${BC_XPUB__HOST}"
    blockchain.xpub_scanner.port: ${BC_XPUB_PORT}
    blockchain.xpub_scanner.username: "${BC_XPUB__USER}"
    blockchain.xpub_scanner.password: "${BC_XPUB__PASSWORD}"
    blockchain.xpub_scanner.private_key_path: "${BC_XPUB_PK}"

    # Pinnacle
    pinnacle_api_url: "${PIN_API_URL}"
    pinnacle_api_agent_key: "${PIN_API_AGENT_KEY}"
    pinnacle_api_secret_key: "${PIN_API_SECRET_KEY}"
    pinnacle_agent_code: "${PIN_AGENT_CODE}"

    twilio_sid: '${TWILIO_SID}'
    twilio_token: '${TWILIO_TOKEN}'
    twilio_from: '${TWILIO_FROM}'

    timezone: '${TIMEZONE}'

    redis.host: ${REDIS_HOST}
    redis.port: ${REDIS_PORT}
    redis.replica.host: ${REDIS_REPLICA_HOST}
    redis.replica.port: ${REDIS_REPLICA_PORT}
    redis.database_id: ${REDIS_DATABASE}
    product_integration:
        evolution:
            url: ${EVOLUTION_SERVICE_URL}

    ewl_url: ${EWL_URL}
    evolution_url: ${EVOLUTION_SERVICE_URL}
    pinnacle_url: ${PINNACLE_SERVICE_URL}
    api_gateway_url: "${API_GATEWAY_URL}"

    aws_sdk.version: "${AWS_SDK_VERSION}"
    aws_sdk.region: "${AWS_REGION}"
    aws_sdk.key: "${AWS_KEY}"
    aws_sdk.secret: "${AWS_SECRET}"
    aws_s3.version: "${AWS_S3_VERSION}"
    aws_s3.region: "${AWS_REGION}"
    aws_s3.bucket: "${AWS_BUCKET}"

