# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   "${DATABASE_DRIVER}"
    database_host:     "${DATABASE_HOST}"
    database_port:     "${DATABASE_PORT}"
    database_name:     "${DATABASE_NAME}"
    database_user:     "${DATABASE_USER}"
    database_password: "${DATABASE_PASSWORD}"
    mailer_transport:  "${MAIL_TRANSPORT}"
    mailer_host:       "${MAIL_HOST}"
    mailer_user:       ${MAIL_USER}
    mailer_port:       ${MAIL_PORT}
    mailer_password:   ${MAIL_PASSWORD}
    mailer_email_from: "${MAIL_FROM}"
    mailer_email_cc:   "${MAIL_CC}"
    mailer_email_affiliate_from: "${MAIL_AFFILIATE_FROM}"
    mailer_encryption: ${MAIL_ENCRYPTION}
    # A secret key that's used to generate certain security-related tokens
    secret:            "${APP_SECRET}"

    app_locales: en|ko
    upload_folder: "${UPLOAD_FOLDER}"
    php_command: /usr/bin/php

    #session expiration time
    session.expiration_time: 3600

    theme: euro
    upload_dwl_filename: upload_dwl.log

    jwt_key: ${JWT_KEY}

    data_transfer.xml: AppBundle:DataTransfer:default.html.twig

    websocket.url: '${WS_URL}'
    websocket.realm: '${WS_REALM}'
    websocket.wamp: '${WS_WAMP_URL}'

    # Brokerage Url
    betadmin.url: '${BA_URL}'
    betadmin.security.access_token: '${BA_TOKEN}'
    betadmin.security.token_type: '${BA_TOKEN_TYPE}'

    brokerage:
        url: '${BA_URL}/'
        access_token: '${BA_TOKEN}'
        token_type: '${BA_TOKEN_TYPE}'
        paths:
            sync_customer_product: customer/
            search_brokers_name: customer/search
            sync_transaction: transaction/

    # activation
    activation.expiration_duration: '+1 week'

    # email spooling command
    email_spool_command: '%php_command% %kernel.project_dir%/app/console swiftmailer:spool:send --env=%kernel.environment% >> %kernel.project_dir%/var/logs/email.log 2>&1 &'

    asianconnect_url: '${AC_URL}'
    asianconnect09_domain: '${AC_DOMAIN}'
    asianodds_domain: '${AO_DOMAIN}'

    customer_temp_password: '${CUSTOMER_TEMP_PASSWORD}'

    # reset password
    reset_password.expiration_duration: '+1 week'

    # Payum
    payum.gateways.ecopayz.testMode: ${ECOPAYZ_TEST_MODE}

    # slack
    # Get Bot User OAuth Access Token from https://api.slack.com/apps/A7UQVNDAM/oauth?#api_main_content
    slack.token: ${SLACK_TOKEN}
    slack.channel: "${SLACK_CHANNEL}"

    # trusted proxies
    trusted_proxies: [172.18.0.5]
    cron_user: system

    blockchain.api_key: "${BC_KEY}"
    blockchain.wallet_url: "${BC_WALLET_URL}"
    blockchain.xpub_scanner.host: "${BC_XPUB__HOST}"
    blockchain.xpub_scanner.port: ${BC_XPUB_PORT}
    blockchain.xpub_scanner.username: "${BC_XPUB__USER}"
    blockchain.xpub_scanner.password: "${BC_XPUB__PASSWORD}"
    blockchain.xpub_scanner.private_key_path: "${BC_XPUB_PK}"

    # Pinnacle
    pinnacle_api_url: "${PIN_API_URL}"
    pinnacle_api_agent_key: "${PIN_API_AGENT_KEY}"
    pinnacle_api_secret_key: "${PIN_API_SECRET_KEY}"
    pinnacle_agent_code: "${PIN_AGENT_CODE}"

    sms_template: 'code-request-sms.html.twig'
    email_template: 'code-request.html.twig'

    twilio_sid: '${TWILIO_SID}'
    twilio_token: '${TWILIO_TOKEN}'
    twilio_from: '${TWILIO_FROM}'
