<div class="float-sm">
    <div class="fl-fl float-widgets">
        <i class="widgets-holder fa fa-money"></i>
        <ul>
            <a href="{{ path("transaction.create_page", {'type': 'deposit'}) }}"><li>Deposit</li></a>
            <a href="{{ path("transaction.create_page", {'type': 'withdraw'}) }}"><li>Withdrawal</li></a>
            <a href="{{ path("transaction.create_page", {'type': 'bonus'}) }}"><li>Bonus</li></a>
            <a href="{{ path("transaction.create_page", {'type': 'transfer'}) }}"><li>Transfer</li></a>
        </ul>
    </div>
</div>