<html>
    <body>
        <p>
            Dear user,
        </p>
        <p>
            You are activating your email address.<br />
            Code: <b style="color: blue">{{ code }}</b><br />
            This code will expire in 30 minutes.<br />
            Please do not share this with anyone.<br />
            The email address cannot be reset once activated.<br />
        </p>
        <p>
            Thank you for choosing Piwi
        </p>
    </body>
</html>