<html>
    <head>
        <title>PIWI247 Welcome Email</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #172530; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; color: #172530;">
        <div style="width: 600px; margin-left: auto; margin-right: auto;">
            <!-- Logo Container -->
            <div style="background-color: #172530; padding: 30px 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal;">
                <img src="https://www.piwi247.com/assets/img/piwi-logo.svg" alt="PIWI247" style="height: 20px;"/>
            </div>
            <!-- End Logo Container -->

            <!-- Content -->
            <div style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 16px; color: #172530; text-align: left; background-color: #fff; padding: 30px; border-radius: 10px;">
                <h1 style="font-size: 30px; margin-top: 0; margin-bottom: 10px;">Hi, Welcome to PIWI247 and Congratulations on your 10 EUR free bet on PIWIXchange!</h1>
                <p style="font-size: 16px; margin-bottom: 30px;">Here are some useful information to kick off your journey to winning!</p>

                <div style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 16px; color: #172530; text-align: left; padding: 20px; border-radius: 10px; border: 1px solid #becfdc; margin-bottom: 20px;">
                    <h3 style="font-size: 22px; margin-top: 0; margin-bottom: 15px;">How to access PIWI247?</h3>
                    <table style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 16px; color: #172530;">
                        <tr>
                            <td width="90px" style="padding-bottom: 5px;">Login URL:</td>
                            <td style="padding-bottom: 5px;"><a href="https://www.piwi247.com/" style="color: #539AFB; font-weight: 700;">https://www.piwi247.com/</a></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 5px;">Username:</td>
                            <td style="padding-bottom: 5px;"><strong>sample_username</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 5px;">Password:</td>
                            <td style="padding-bottom: 5px;"><span style="color: #70889a; font-size: 12px;">This is the password you set when you signed up. If you need to reset your password, <a href="https://www.piwi247.com/forgot-password" style="color: #539AFB;">please click here</a>.</span></td>
                        </tr>
                    </table>
                    <div style="background-color: #ffd1d1; color: #ff6060; font-size: 12px; border-radius: 5px; margin-top: 20px; padding: 10px;">
                        <strong>IMPORTANT!</strong> https://www.piwi247.com/ is NOT accessible from Canada, Denmark, France, Germany, Spain, US, UK, etc.
                    </div>
                    <div style="background-color: #cffdea; color: #47cc95; font-size: 12px; border-radius: 5px; margin-top: 10px; padding: 10px;">
                        <strong>PIWI247 is best accessed from Austria, Belgium, Norway, Sweden, or Switzerland.</strong>
                    </div>
                </div>

                <div style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 16px; color: #172530; text-align: left; padding: 20px; border-radius: 10px; border: 1px solid #becfdc; margin-bottom: 30px;">
                    <h3 style="font-size: 22px; margin-top: 0; margin-bottom: 15px;">How to start betting?</h3>
                    <p style="margin-top: 0; margin-bottom: 5px;">Your PIWIXchange account has 10 EUR free bet credit and you can start betting anytime.</p>
                    <a style="display: inline-block; width: auto; color: #70889a; font-size: 12px; margin-bottom: 10px;">See free bet terms and conditions below.</a>
                    <p style="margin-top: 0; margin-bottom: 10px;">To bet on Sports, Casino, or simply bet more on PIWIXchange, you need to top up your account.</p>
                    <p style="margin-top: 0; margin-bottom: 0;">To do that, simply go to <strong>Deposit</strong> > <strong>fill out the form</strong> >> <strong>login to your Skrill, Neteller, or Bitcoin account</strong> >>> and <strong>transfer the funds to the address</strong> you’ll see on your screen.</p>
                    <img src="https://wp.pinny88.com/wp-content/uploads/2022/01/piwi247-deposit.png" alt="" style="width: 100%;">
                    <p style="margin-top: 5px; margin-bottom: 0;">Click <strong>‘Request’</strong> and then you’ll see your deposit reflected on your PIWI247 account in a few minutes!</p>
                </div>
                
                <p>If you need help, please contact us anytime at <a href="mailto:support@piwi247.com" style="color: #539AFB;">support@piwi247.com</a> or <a href="" style="color: #539AFB;">WhatsApp</a> or <a href="" style="color: #539AFB;">Telegram</a>.</p>
                <p>We look forward to winning with you!</p>
                <p style="margin-top: 30px; margin-bottom: 7px;">Cheers,</p>
                <p style="margin-top: 0; margin-bottom: 30px; font-size: 18px; font-weight: 700;">Team PIWI247</p>

                <div style="font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; font-size: 14px; color: #172530; text-align: left; padding: 20px; border-radius: 10px; border: 1px solid #becfdc;">
                    <h3 style="font-size: 18px; margin-top: 0; margin-bottom: 15px;">PIWI247 FREEBET Terms and Conditions</h3>
                    <p style="margin-top: 0; margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p style="margin-top: 0; margin-bottom: 10px;">Neque gravida in fermentum et sollicitudin ac orci phasellus egestas.</p>
                    <p style="margin-top: 0; margin-bottom: 10px;">Pellentesque nec nam aliquam sem et tortor consequat.</p>
                    <p style="margin-top: 0; margin-bottom: 10px;">Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam.</p>
                    <p style="margin-top: 0; margin-bottom: 0;">Ultricies integer quis auctor elit sed vulputate. Consequat nisl vel pretium lectus quam id leo.</p>
                </div>
            </div>
            <!-- End Content -->

            <!-- Footer -->
            <div style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: 400; font-style: normal; color: #fff; padding: 30px 0 20px 0; text-align: center;">
                PIWI247 | © Copyright 2019-2022. All rights reserved.
            </div>
            <!-- End of Footer -->
        </div>

    </body>
</html>