<div id="customerIpHistoryList" class="card-box">
    <table id="customerIpHistoryTab"
        class="table table-striped dt-responsive nowrap" cellspacing="0"
        width="100%">
        <thead>
            <tr>
                <th>{{ "fields.ip"|trans({}, "AuditBundle") }}</th>
                <th>{{ "fields.date"|trans({}, "AuditBundle") }}</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</div>
